parameters:
	ignoreErrors:
		-
			message: "#^Method FD\\\\LogViewer\\\\DependencyInjection\\\\Configuration\\:\\:normalizeConfig\\(\\) has parameter \\$config with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/DependencyInjection/Configuration.php

		-
			message: "#^Method FD\\\\LogViewer\\\\DependencyInjection\\\\Configuration\\:\\:normalizeConfig\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/DependencyInjection/Configuration.php
