<!DOCTYPE html>
<html lang="en">
<head>
    <title>Symfony Log View development environment</title>
    <link rel="icon"
          type="image/svg+xml"
          href="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%23fff' viewBox='0 0 16 16'%3E%3Cpath d='M15 3.604H1v1.891h14v-1.89ZM1 7.208V16l7-3.926L15 16V7.208zM15 0H1v1.89h14z'/%3E%3C/svg%3E" />
</head>
<body>
Go to <a href="/log-viewer">Log Viewer</a>
</body>
</html>
