parameters:
  locale: en

framework:
  test: ~
  secret: dev
  ide: "javascript:fetch('http://localhost:63342/api/file?file=%%f&line=%%l'.replace('/app/', ''));"
  router:
    resource: "%kernel.project_dir%/config/routing.yml"
    strict_requirements: true
    utf8: true
  http_method_override: false
  php_errors:
    log: true
  handle_all_throwables: true
  default_locale: en
  http_client:
    enabled: true
  profiler:
    enabled: true
    only_exceptions: false
  validation:
    email_validation_mode: html5

web_profiler:
  toolbar: true
  intercept_redirects: false

twig:
  debug: false
  strict_variables: true

monolog:
  channels:
    - deprecation
  handlers:
    main:
      type: stream
      path: "%kernel.logs_dir%/%kernel.environment%.log"
      level: debug
      channels: [ "!event", "!deprecation" ]
    json:
      type: stream
      path: "%kernel.logs_dir%/json/%kernel.environment%.log"
      formatter: 'monolog.formatter.json'
      level: debug
      channels: [ "!event", "!deprecation" ]
    logstash:
      type: stream
      path: "%kernel.logs_dir%/logstash/%kernel.environment%.log"
      formatter: 'monolog.formatter.logstash'
      level: debug
      channels: [ "!event", "!deprecation" ]
    error:
      type: stream
      path: "%kernel.logs_dir%/error.log"
      include_stacktraces: true
      level: error
      channels: [ "!event", "!deprecation" ]
    deprecation:
      type: stream
      path: "%kernel.logs_dir%/deprecation.log"
      level: debug
      channels: [ "deprecation" ]

fd_log_viewer:
  log_files:
    monolog:
      type: monolog
      downloadable: true
      deletable: true
    monolog-json:
      type: monolog.json
      name: Json monolog
      finder:
        in: "%kernel.logs_dir%/json"
      downloadable: true
      deletable: true
    monolog-logstash:
      type: monolog.logstash
      name: Logstash monolog
      finder:
        in: "%kernel.logs_dir%/logstash"
      downloadable: true
      deletable: true
    error-log:
      type: php-error-log
      name: PHP error_log
      finder:
        in: "%kernel.logs_dir%/php_error"
      downloadable: true
      deletable: true
    nginx-access:
      type: http-access
      name: Nginx access
      finder:
        in: "/var/log/nginx"
        name: "nginx.access.log"
      downloadable: true
      deletable: true
      date_format: 'd/M/Y:H:i:s O'
    nginx-error:
      type: nginx-error
      name: Nginx error
      finder:
        in: "/var/log/nginx"
        name: "nginx.error.log"
      downloadable: true
      deletable: true
